.bodyLogin{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyForm{
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyForm form{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px;
}

.bodyForm form input{
    width: 300px;
    background: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(22, 21, 21);
    box-shadow: 0 10px 15px rgba(105, 103, 103, 0.2);
    margin: 5px 0px;
}

.bodyForm form .contButon input{
    
}